<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyMedela.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
				<key>dateExpires</key>
				<string>08/02/23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSMobileAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BVLinearGradient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CoreModules.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DeviceKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DoubleConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EDStarRating.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBReactNativeSpec.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GCDWebServer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MultiplatformBleAdapter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PacifySDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTAnimation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTBlob.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTLinking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTSettings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTTypeSafety.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTVibration.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNCAsyncStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNCMaskedView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNCPushNotificationIOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNDeviceInfo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNGestureHandler.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNI18n.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNReanimated.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNSVG.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNScreens.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNVectorIcons.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDarkMode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmJS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SimpleKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TwilioVideo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>cxxreact.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>folly.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>glog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>jsi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>jsinspector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>jsireact.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_ble_plx.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_blur.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_cameraroll.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_config.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_cookies.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_dialogflow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_geolocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_netinfo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_safe_area_context.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_simple_toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_slider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_splash_screen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_voice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_webview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>rn_fetch_blob.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>yoga.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>zipzap.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>2KAL3NND99.com.A1Distribute.all.IntentExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>2KAL3NND99</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>2KAL3NND99.com.A1Distribute.all.IntentExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>IntentExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>263e517d-abe2-465f-8f30-1ebf9d7b54c1</string>
						<key>name</key>
						<string>com.A1Distribute.all.IntentExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9990B4D833019CDE59F54B7A3AD818C2E86CCBC4</string>
						<key>dateExpires</key>
						<string>08/02/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>2KAL3NND99.com.A1Distribute.all.IntentExtensionUI</string>
						<key>com.apple.developer.team-identifier</key>
						<string>2KAL3NND99</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>2KAL3NND99.com.A1Distribute.all.IntentExtensionUI</string>
						</array>
					</dict>
					<key>name</key>
					<string>IntentExtensionUI.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>4066e826-8f5a-40f8-bde4-39ec7871ecd6</string>
						<key>name</key>
						<string>com.A1Distribute.all.IntentExtensionUI</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2KAL3NND99</string>
						<key>name</key>
						<string>A-1 Technology Inc</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2KAL3NND99.com.A1Distribute.all</string>
				<key>com.apple.developer.siri</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>2KAL3NND99</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MyMedela.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9e866c2f-859d-4909-a663-2ccec27dd4de</string>
				<key>name</key>
				<string>com.A1Distribution.all</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2KAL3NND99</string>
				<key>name</key>
				<string>A-1 Technology Inc</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
