<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202396737113-mbm5tc7sc3c27jljnuep3ptoo3jlcc16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202396737113-mbm5tc7sc3c27jljnuep3ptoo3jlcc16</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>202396737113-ljr8lmjga1mbjk2la79e4aho5gj2lbme.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrDqjrzbnwZxE0ca_WHkDdgic7aOm6kvY</string>
	<key>GCM_SENDER_ID</key>
	<string>202396737113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medela.mymedela.q</string>
	<key>PROJECT_ID</key>
	<string>mymedela-8dc55</string>
	<key>STORAGE_BUCKET</key>
	<string>mymedela-8dc55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202396737113:ios:76e920c9b43fa434</string>
	<key>DATABASE_URL</key>
	<string>https://mymedela-8dc55.firebaseio.com</string>
</dict>
</plist>